<nav>
  <a routerLink="/overview">back to overview</a>
</nav>
<h2>{{ house.name}}</h2>
<div *ngIf="house">
  <p>Region: {{ house.region }}</p>
  <p>Coat of Arms: {{ house.coatOfArms}}</p>
  <p>Words: {{ house.words }}</p>
  <p>Titles: {{ house.titles }}</p>
  <p>Seats: {{ house.seats }}</p>
  <p>Current Lord: {{ currentLord }}</p>
  <p>Heir: {{ house.heir }}</p>
  <p>Overlord: {{ overlord }}</p>
  <p>Founded: {{ house.founded }}</p>
  <p>Founder: {{ founder }}</p>
  <p>Died out: {{ house.diedOut }}</p>
  <p>Ancestral Weapons: {{ house.ancestralWeapons }}</p>
  <p>Cadet Branches: {{ house.cadetBranches }}</p>
  <p>Sworn Members: {{ house.swornMembers }}</p>
</div>